$sylow-purple: #25064c;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  > .grid {
    height: 100%;
  }
}

h1, h2, h3, h4, h5, h6, .ui.header {
  color: $sylow-purple;
  font-family: 'Khula', sans-serif;
}

h1 {
  font-size: 2.5rem;

  &.ui.header {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;

  &.ui.header {
    font-size: 2.5rem;
  }
}

#sy-narrow-form {
  .column {
    max-width: 450px;
  }

  .sy-logo {
    width: 150px;
    margin-bottom: 20px;
  }

  > h1, > .column > h1 {
    color: $sylow-purple;
  }
}

.sy-dash-sidebar {
  text-align: center;

  .logo {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.sy-dashboard {
  padding: 40px 0;
}

tr.authoritative td {
  border-bottom: 1px solid rgba(34, 36, 38, .1); 
}

a, a:active, a:visited, a:hover {
  color: $sylow-purple;
}

#first-run {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.3rem;
  color: rgba(0,0,0,.87);
  p {
    font-weight: 500;
  }
  
  #logo {
    position: static;
    width: 150px;
    margin: 2em 0;
  }

  h1, h2, h3 {
    font-weight: 800;
  }
  
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  a.icon-btn  {
    text-decoration: none;

    i.github {
      height: 75px;
    }
  }

  .thin {
    font-weight: 300;
    margin: 0;
  }
}
