body {
  margin: 0;
  background: linear-gradient(to bottom, #7B52AB 0%, #553285 33%, #36175e 66%, #25064c 100%) fixed;
  background-attachment: fixed;

  > .grid {
    height: 100%;
  }
}

#sy-narrow-form {
  .column {
    max-width: 450px;
  }

  .sy-logo {
    width: 150px;
    margin-bottom: 20px;
  }

  > h1, > .column > h1 {
    color: #FFF;
  }
}

.sy-dash-sidebar {
  text-align: center;

  .logo {
    display: block;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.sy-dashboard {
  padding: 40px 0;
}
