extends base.pug

block content
  div(class="ui container sy-dashboard")
    div(class="ui grid")
      div(class="two wide column")
        include sidebar.pug
      div(class="fourteen wide column")
        div(class="ui segment")
          block dashboard
