link(rel="shortcut icon" href="/favicon.ico")
link(rel="icon" sizes="16x16 32x32 48x48" href="/favicon.ico")
link(rel="stylesheet" href="/assets/vendor.min.css")
link(rel="stylesheet" href="/assets/admin.min.css")
script(src="/assets/vendor.bundle.min.js")
script(src="/assets/admin.bundle.min.js")
