if messages.info
  div(class="ui info message")
    p= messages.info
if messages.success
  div(class="ui success message")
    p= messages.success
if messages.warning
  div(class="ui warning message")
    p= messages.warning
if messages.error
  div(class="ui error message")
    p= messages.error
