div(class="sy-dash-sidebar")
  img(class="logo" src="/assets/logo-white.svg")
  div(class="ui vertical icon menu")
    a(class="item" href="/")
      i(class="large home icon")
    a(class="item" href="/entities")
      i(class="large users icon")
    a(class="item" href="/clients")
      i(class="large browser icon")
    a(class="item" href="/settings")
      i(class="large options icon")
