extends includes/base.pug

block content
  div(id="sy-narrow-form" class="ui middle aligned center aligned grid")
    div(class="column")
      img(class="sy-logo" src="/assets/logo-white.svg")
      h1(class="ui header") Error
      div(class="ui left aligned segment")
        div(class="ui negative message")
          p= message
